language: go
services:
  - docker
go:
  - "1.12"
env:
  - "GO15VENDOREXPERIMENT=1"
before_install:
  - make deps
script:
  - make test
after_success:
  - make coverage
  - bash <(curl -s https://codecov.io/bash)